@media screen and (max-width:600px) {
    body>h3 {
        text-align: center;
        background-color: #A0C4E2;
    }

    main {
        display: block;
    }

    section {
        text-align: center;
        margin: 10px;
        width: auto;
    }

    footer {
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
        background-color: #A0C4E2;
        color: black;
        text-align: center;
    }

    #imgs img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .rentalAgreement {
        padding: 10px;
        margin-bottom: 10px;
    }
}