@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Source+Code+Pro&display=swap');

body {
    font-family: Arsenal, Source Code Pro, Arial, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    background-color: #FFC2EE;
    color: black;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    position: absolute;
    left: 40%;
    font-family: Source Code Pro;
}

.card {
    background-color: #A9E4EF;
    border: 1px solid #000;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
    margin: 0.5rem;
}

.profile-picture {
    margin-left: -20px;
    box-shadow: 3px 5px 32px 8px rgba(0, 0, 0, 0.36);

}

.temple {
    margin-top: 50px;
    position: relative;
    justify-self: center;
    align-items: center;
}

.image {
    margin-top: 50px;
    grid-column: 1/3;
    grid-row: 1/2;
}

.image img {
    max-width: 100%;
}

.label {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: xx-small;
    background: radial-gradient(#bccccc, pink);
    padding: 10px;
    border-radius: 10px;
}

.main {
    padding: 1rem;
    justify-content: center;
}


.footer {
    background-color: #FFC2EE;
    color: black;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

a {
    text-decoration: none;
}

google-map,
.google-map iframe {
    width: 100%;
}