#menu {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    color: #000;
    display: none;
}

#menu::before {
    content: "🗺️";
}

@media only screen and (max-width: 600px) {

    nav a {
        display: none !important;
    }

    #menu {
        display: block;
    }
}